version: '3.8'

services:
  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    ports:
      - "8000:8000"
    environment:
      - DEBUG=1
      - SECRET_KEY=django-insecure-r&r8y(y(nrkf87aggb1^!kyt7w!wzss90u-wdo=sp70hp7kx89
      - POSTGRES_DB=web_lego
      - POSTGRES_USER=web_lego
      - POSTGRES_PASSWORD=web_lego_password
      - POSTGRES_HOST=db
      - POSTGRES_PORT=5432
    depends_on:
      - db

  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=web_lego
      - POSTGRES_USER=web_lego
      - POSTGRES_PASSWORD=web_lego_password
    ports:
      - "5432:5432"

volumes:
  postgres_data:
  static_volume:
  media_volume:

